.tabbook {
  padding: 50px 10px 20px; }
  .tabbook__books-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .tabbook__books-container li {
      padding: 0 15px;
      margin-bottom: 30px;
      text-align: left;
      flex: 1 1 100%;
      max-width: 100%; }
