.header {
  display: flex;
  justify-content: space-around;
  background: #F5F4EB; }

.div-header-style {
  top: 0; }
  .div-header-style h1 {
    margin: 0;
    color: black; }

@media only screen and (max-width: 768px) {
  .header {
    display: block; } }
