.header-bar {
  box-shadow: 0px 1px 15px gray;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #eee; }
  .header-bar__container {
    padding: 10px 0;
    background: aliceblue;
    text-align: center;
    height: 50px; }
    .header-bar__container__back {
      position: absolute;
      left: 20px;
      color: black;
      transform: translate(0, 50%); }
      .header-bar__container__back a {
        color: black; }
    .header-bar__container h1 {
      line-height: 1.1;
      margin: 0;
      color: black; }
      .header-bar__container h1 a {
        color: inherit;
        text-decoration: none; }
