.App {
  text-align: center;
}

.tabs-cards {
  padding: 100px 0 20px;
  flex: 1;
}

.tabs-align {
  justify-content: flex-end;
}

.MuiTabs-flexContainer-2 {
  justify-content: flex-end;
}

.button-fix {
    position: fixed !important; 
    bottom: 30px;
    right: 30px;
}
